<div class="tasks" id="edit_task_<%= task.id%>">
  <div class="tasks form-row head2   ">
     <div class="col-md-10 border-right border-bottom border-secondary">
      <span class="label" ><%= task.name %> </span>
    </div>
      <button type="submit" class=""><%= link_to "Edit", edit_project_task_path(project,task), id: "edit_task_link",remote: true %></button>
      <button type="submit" class=""><%= link_to "Remove", project_task_path(project,task), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></button>
    </div>
</div>  


