<div class="container"> 
  <div class="row align-items-center ">
    <div class="col text-center">
      <%= image_tag("ruby_rails_course.png", {:style => "max-width:100%; height:auto"}) %> 
    </div>  
  </div>  
</div>