
<h1>SIMPLE TODO LISTS</h1>
<h6>FROM RUBY GARAGE</h6>
  
  <div class="new"><%= link_to "New Project", new_project_path, id: "new_link", remote: true %></div>
    
    <div class="projects" id="projects">
      
      <%= render @projects %>   

  </div>
