// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects{
  max-width:850px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.tabletask{
 background: white;
} 
.ui-icon{
  cursor:pointer;
}
h1{
  color:black;
  padding-top:50px;
  font-size: 2.5rem;
  text-align: center!important;
}
h6{
  color:grey;
  font-size: 1.5rem;
  text-align: center;
  
}
.hidden{
  display:none;
}
.head{
  max-width:850px;
  padding-top:20px;
  margin-right: auto;
  margin-left: auto;
}
.pictRemove{
  background-image:"assets/trash-alt-regular.svg";
}
.pictUpdate{
  background-image:"assets/edit.svg";
}
.new{
  max-width:850px;
  margin-right: auto;
  margin-left: auto;
}
h5{
  color:white;
  font-size: 1.0rem;
  text-align: center;
  margin: 50px 0;
  padding: 40px 0;
}
.head1{
  background: gainsboro;
  max-width:850px;
  margin-right: auto;
  margin-left: auto;  
}
.centr{
  margin-right: auto;
  margin-left: auto;  
}
.head2{
  background: white;
  max-width:850px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 0;
}
